.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rcheck
*.Rcheck/
..Rcheck
.R-lib/
*.tar.gz
coverage.html
coverage-summary.rds
coverage-summary.md
lib/
src/*.gcda
src/*.gcno
.Rd2pdf*
..pdf
^\.\.pdf$
.DS_Store
**/.DS_Store
src/*.o
src/*.so
src/*.dll
src/symbols.rds
docs/
pkgdown/
_spsurv_bayes_ph.rds
_spsurv_bayes_*.rds
Rplots.pdf
**/Rplots.pdf
paper/tex-fragments.rds
paper/bp-mcsim-results.rds
paper/degree_llph_bpph.csv
paper/*.pdf
paper/simulation/output/
paper/logs/
paper/build/
paper/spsurv.pdf
paper/archive/
figures/
vignettes/*_cache/
vignettes/*.html
