.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rcheck
*.Rcheck/
..Rcheck
.R-lib/
*.tar.gz
.Rd2pdf*
..pdf
^\.\.pdf$
.DS_Store
**/.DS_Store
src/*.o
src/*.so
src/*.dll
src/symbols.rds
docs/
pkgdown/
_spsurv_bayes_ph.rds
_spsurv_bayes_*.rds
Rplots.pdf
**/Rplots.pdf
paper/tex-fragments.rds
inst/simulation/output/
figures/
vignettes/*_cache/
vignettes/*.html
